    div[data-testid="stMainBlockContainer"] {
        padding-top: 3rem;
    }
    h2[id="86414359"] {
	font-family: 'Pretendard';
    }
    div[data-testid="stChatInput"] {
        background-color: rgba(104, 158, 202, 0.15);
    }
    div[data-testid="stChatMessage"]:has(div[data-testid="stChatMessageAvatarUser"]) {
        background-color: rgba(104, 158, 202, 0.15);
    }
    div[data-testid="stChatMessage"]:has(div[data-testid="stChatMessageAvatarUser"]) {
        background-color: rgba(104, 158, 202, 0.15);
    }

    .st-b8{
	font-family: 'Pretendard', sans-serif;
    }
    .st-b4 {
        min-height: 5rem;
    }
    .st-b0 {
    	border-bottom-color: rgba(0, 0, 0, 0);
    }
    .st-az {
    	border-top-color: rgba(0, 0, 0, 0);
    }
    .st-ay {
    	border-right-color: rgba(0, 0, 0, 0);
    }
    .st-ax {
        border-left-color: rgba(0, 0, 0, 0);
    }
    
