    div[data-testid="stVerticalBlock"] > div:nth-child(3) {
        display: None;
    }  
    div[data-testid="stVerticalBlock"] > div:nth-child(4) {
        display: None;
    }  
    div[data-testid="stVerticalBlock"] > div:nth-child(5) {
        display: None;
    }  
    div[data-testid="stMainBlockContainer"] {
        padding-top: 5rem;
    }
    span[data-baseweb="tag"] {
    	padding-left: 5px;
    }
    .st-bs {
        padding-left: 0px;
    }
    label[data-testid="stWidgetLabel"] {
        display:None;
    }
    div[role="radiogroup"] > label {
        padding: 10px 15px;
        width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	transition: background-color 0.2s ease;
	margin-top: 3px;
	top: 0px;
    }
    div[role="radiogroup"] > label:hover {
        background-color: #ffffff;
    }
    div[role="radiogroup"] > label > div:first-child {
        display: None;
    }
    div[role="radiogroup"] > label:has(input[value="0"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }
    div[role="radiogroup"] > label:has(input[value="2"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }


