    .block-container {
        padding-top: 2rem;
    }
   .st-emotion-cache-1tquei4 h3 {
	font-family: "Pretendard";
    }
    span[data-baseweb="tag"] {
    	padding-left: 5px;
    }
    .st-bs {
        padding-left: 0px;
    }
    .st-d8 {
        padding-left: 0px;
    }
    label[data-testid="stWidgetLabel"] {
        display:None;
    }
    div[role="radiogroup"] > label {
        padding: 10px 15px;
        width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	transition: background-color 0.2s ease;
	margin-top: 3px;
	top: 0px;
    }
    div[role="radiogroup"] > label:hover {
        background-color: #ffffff;
    }
    div[role="radiogroup"] > label > div:first-child {
        display: None;
    }
    div[role="radiogroup"] > label:has(input[value="0"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }
    div[role="radiogroup"] > label:has(input[value="4"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }
    div[role="radiogroup"] > label:has(input[value="9"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }
    div[role="radiogroup"] > label:has(input[value="11"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }
    div[role="radiogroup"] > label:has(input[value="13"]) {
    	background-color: rgba(0, 0, 0, 0);
    	color: black;
    	padding: 5px;
	pointer-events: none; 
    }
    button[kind="secondary"] {
    	position: fixed;
	bottom: 20px;
        right: 20px;
        z-index: 100;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 40px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
