    .block-container {
        padding-top: 2rem;
    }
   div[data-testid="stVerticalBlock"] > div:nth-child(7) {
        height: 650px;
    }
   div[data-testid="stVerticalBlock"] > div:nth-child(9) {
        height: 300px;
    }
   .st-emotion-cache-1tquei4 h2 {
        font-family: "Pretendard";
    }
