   div[data-testid="stVerticalBlock"] > div:nth-child(3) {
        display: None;
    }
   div[data-testid="stVerticalBlock"] > div:nth-child(4) {
        display: None;
    }
   div[data-testid="stVerticalBlock"] > div:nth-child(5) {
        display: None;
    }
   div[data-testid="stVerticalBlock"] > div:nth-child(7) {
        height: 650px;
    }  
   div[data-testid="stVerticalBlock"] > div:nth-child(8) {
        height: 500px;
    }  
   h3[id="b9e76fb"] {
	padding-top: 0rem;
    }
