    .block-container {
        padding-top: 2rem;
    }
    .st-emotion-cache-1tquei4 h2 {
        font-family: "Pretendard";
    }
    .st-emotion-cache-1tquei4 h3 {
        font-family: "Pretendard";
    }
    div[data-baseweb="base-input"] {
        font-family: "Pretendard";
        background-color: rgb(218, 231, 242);
    }
   div[data-baseweb="base-input"] input {
        font-family: "Pretendard";
    }
    .st-emotion-cache-1tquei4 {
        font-family: "Pretendard";
    }
    .st-emotion-cache-1yajkir {
        font-size: 15px;
    }



