    .st-emotion-cache-lrlib {
        margin: 2px;
    }
    ul[data-testid="stSidebarNavItems"] > li:nth-child(2) > div a {
        line-height: 4;
        background-color: rgb(233 235 239);
    }
    ul[data-testid="stSidebarNavItems"] li a {
        line-height: 4;
        background-color: rgb(250, 250, 250);
    }